In [13]:
import pandas as pd
from IPython.display import display, HTML

# Condo Info

Association name | Meadow Woods
--- | ---
Association number | 504
Total # of units | 27
Budget year | 2026
Budget type | M

# 2026 Condo Income

In [14]:
prev_year_budget_income = 178010
next_year_budget_income = 169498
income_by_month = next_year_budget_income / 12
income_by_month

14124.833333333334

# 2026 Assessment Rates

In [15]:
assessments_df = pd.read_csv("assessment_rates.csv")
assessments_df.reset_index(drop=True, inplace=True)

# Sort by Rate descending
assessments_df = assessments_df.sort_values(by='Rate', ascending=False)

# Display without index
display(HTML(assessments_df.to_html(index=False)))

# 2026 Unit Assessments

In [16]:
unit_assessments = pd.DataFrame(assessments_df)
unit_assessments['Rate'] = (unit_assessments['Rate'] * 0.01) * income_by_month
# Display without index
display(HTML(unit_assessments.to_html(index=False)))